[user]
    email = {{ .email | quote }}
    name = Jarle Mathiesen
[alias]
    pa = !git add -A && git commit -m \"$(curl -L -s whatthecommit.com/index.txt)\" && git push
[pull]
    rebase = merges
[core]
    editor = vi
[tag]
    # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
    sort = version:refname
